{% extends "base.html" %}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
        <div class="row mb-5">
            <div class="col-md-9 mb-5">
                <div class="card">
                    <div class="card-header">
                        <img class="img-fluid float-right" src="{{ product.icon.url }}" />
                        <a href="{{ product.product_url }}" target="_blank"><h1>{{ product.title }}</h1></a>
                    </div>
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
                    <div class="card-body">
                        <p class="float-right">{{ product.pub_date_pretty }}</p>
                        <h5>Hunted by {{ product.hunter.username }}</h5>
                        <hr>
                        <p class="card-text">{{ product.body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-3 my-auto">
                <a class="btn btn-primary btn-lg"  href="javascript:{document.getElementById('upvote').submit()}"><i class="fas fa-caret-up"></i> Upvotes {{ product.vote_total }}</a>
            </div>
        </div>
    {#            <div class="col-md-2">#}
{#                <img class="img-fluid" src="{{ product.icon.url }}" />#}
{#            </div>#}
{#            <div class="col-md-10">#}
{#                <a href="{{ product.product_url }}" target="_blank"><h1>{{ product.title }}</h1></a>#}
{#            </div>#}


{#    <div class="row">#}
{#        <div class="col-md-8">#}
{#            <img class="img-fluid" src="{{ product.image.url }}" />#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#            <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><i class="fas fa-caret-up"></i> Upvotes {{ product.vote_total }}</button></a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-md-4">#}
{#            <h4>Hunted by {{ product.hunter.username }}</h4>#}
{#        </div>#}
{#        <div class="row-md-4 text-right">#}
{#            <h4> {{ product.pub_date_pretty }}</h4>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-md-8">#}
{#            <p> {{ product.body }}</p>#}
{#        </div>#}

    <form id="upvote" action="{% url 'upvote' product.id %}" method="POST" >
        {% csrf_token %}
        <input type="hidden"/>
    </form>
{% endblock %}